@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body{
    background-color: rgb(205, 255, 203);
    font-family:Arial, Helvetica, sans-serif ;
}

h1{
    color:rgb(15, 114, 12) ;
}

h1#principal{
    text-align: center;
    background-color: rgb(15, 114, 12);
    color: white;
}

h2{
    color: rgb(44, 78, 44);
}

.basico{
    color: rgb(44, 78, 44);
}

.intermediario{
    color: rgb(187, 162, 52);
}

.avancado{
    color: rgb(165, 54, 54);
}

.destaque{
    background-color: #caca6754;
}