@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Sriracha', cursive;
    --font3: 'Passion One', cursive;
} 


body {
    background-color: white;
    font-family: var(--font1);
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-size: 10vw;
    font-family: var(--font3);
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

p > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

p > a:hover {
    text-decoration: underline;
}


section {
    padding-top: 50x;
    padding-bottom: 50px;
    padding-left: 20px;
    line-height: 2em;
    font-size: 3.5vw;
    font-family: var(--font2);
}

section > p {
    padding-top: 50px;
    padding-bottom: 50px;
    text-shadow: px 3px 5px rgba(0, 0, 0, 0.271);
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.274);
    box-shadow: 3px 0px 14px 0px rgba(0, 0, 0, 0.267);
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.328);
    display: inline-block;
    color: white;
    margin: 50px;
}


section#img01 {
    background-image: url('/desafios/d012/imagens/background001.jpg');
    background-position: left center;
    background-attachment: fixed;
}

section#img02 {
    background-image: url('/desafios/d012/imagens/background002.jpg');
    background-position: left center;
    background-attachment: fixed;
}


footer {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
}